@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    background: #000F30;
    color: #fff;
}

svg {
    /* fill: #fff; */
}

a {
    text-decoration: none;
}

.bar-thin {
    margin: auto;
    width: 100%;
    height: 7px;
    border-radius: 3px;
    background: linear-gradient(to right, #0c80be, #0aeef3);
  }

#btn {
    z-index: 100;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    background: #000F30;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}   

.sidebar .logo-content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo-content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo-content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo-content .logo .logo-name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px; 
    width: 100%;
    margin: 0 5px;
    line-height: 50px;   
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 33px;
    width: 122px;
    background: #fff;
    line-height: 33px;
    text-align: center;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    color: #000
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    top: 50%;
    opacity: 1;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #0bb2d6;
}

.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px ;
    text-align: center;
}

.sidebar .link-name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile-content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile-content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #061432;
    transition: all 0.5s ease;
}

.sidebar.active .profile-content .profile {
    background-color: none;
}

.profile-content .profile .profile-details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile-details {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile-details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile-details .name-job {
    margin-left: 10px;
}

.profile .profile-details .name {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile-details .job {
    font-size: 12px;
}

.profile #log-out {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
}

.sidebar.active .profile #log-out {
    left: 88%;
}

/* Home Content */
.home-content {
    position: absolute;
    height: 100%;
    width: calc(100% - 70px);
    left: 70px;
    z-index: 200;
    /* background: #000F30; */
    transition: all 0.5s ease;
    padding: 50px;
}

.lex-logo {
    display: none;
}

.home-content .text {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 12px;
}

.sidebar.active ~ .home-content {
    width: calc(100% - 240px);
    left: 240px;
}

.home-content .lex-showcase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin: 0 20px;
}

@media screen {
    
}

.lex-showcase {
    margin: 5px 100px;
}

.lex-showcase .lex-heading {
    font-size: 35px;
    margin: 20px 0;
    /* text-align: center; */
}

.lex-showcase ul {
    margin: 10px 0;
}

.lex-showcase ul li {
    list-style: circle;

}

.lex-showcase .lex-btn {
    border: none;
    background: #0aeef3;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 10px 0;
}

.bar-thin {
    width: 70%;
}

.lex-staking h2 {
    text-align: center;
    font-size: 34px;
}

.lex-staking .lex-staking-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lex-staking .lex-staking-container img {
    width: 50%;
}

.lex-staking-info {
    text-align: center;
    margin: 50px 0;
}

.lex-working {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lex-working h1 {
    margin-bottom: 10px;
}

.lex-working-options {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.lex-working-options .lex-working-option .lex-g-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    margin: 20px 30px;
    border: 4px solid #0699fd;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    width: 320px;
    box-shadow: 0px 0px 27px 0px #0699fd;
}

.lex-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.lex-contact h2 {
    text-align: center;
}

.lex-contact ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.lex-social-media-link svg {
    width: 80px;
    fill: #fff;
    margin: 25px;
}


@media (max-width: 500px) {
    .home-content .lex-showcase {
        align-items: center;
        justify-content: center;
        margin: 0 5px;
    }

    .lex-showcase .lex-heading {
        font-size: 24px; 
        text-align: center;
        margin-bottom: 2rem;
    }

    .lex-showcase ul li {
        list-style: circle;
    }

    .lex-showcase .lex-btn {
        background: #0aeef3;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        margin: 20px 0;

    }

    .lex-staking .lex-heading {
        text-align: center;
        margin: 20px 0;
    }

    .lex-staking .lex-staking-container {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }

    .lex-staking .lex-staking-container img {
        display: none;
    }

    .lex-staking .lex-staking-container p {
    text-align: center;
    }

    .lex-staking .lex-staking-info {
        text-align: center;
    }

    .lex-working h1 {
        text-align: center;
    }

    .lex-working-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .lex-working-options .lex-working-option .lex-g-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 10px;
        border: 3px solid #0699fd;
        padding: 20px 10px;
        width: 220px;
        height: 400px;
        border-radius: 10px;
        box-shadow: 0px 0px 27px 0px #0699fd;
    }

    .lex-working-options .lex-working-option .lex-g-container h1 {
        margin: 5px 0;
    }

    .lex-working-options .lex-working-option .lex-g-container h2 {
        margin: 5px 0;
    }

    .lex-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .lex-contact h2 {
        margin: 5px 0;
        text-align: center;
    }

    .lex-contact p{
        text-align: center;
    }

    .lex-contract {
        font-size: 10px;
        text-align: center;
    }

    .lex-social-media-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .lex-social-media-link {
        /* width: 1px;
        margin: 10px;
        color: #fff; */
        display: none;
    }

    .lex-social-media-link svg {
        fill: #fff;
        width: 10px;
    }
}


 .nav {
    /* position: absolute;
    right: 0;
    top: 0;
    margin: 40px; */
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav ul li {
    margin: 0 20px;
}

.nav ul li a {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.1s ease;
}

.nav ul li a:hover {
    color: #061432;
    background: #fff;
}

.statistics {
    width: 80%;
    margin-top: 3rem;
  }

  .statistics ul {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  
  .statistics ul li .stat-container .stat-head {
    font-weight: lighter;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .statistics ul li .stat-container .stat {
    padding: 0.5rem 3rem;
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  
  .bnb-dash {
    width: 80%;
    margin: auto;
    margin-top: 5rem;
  }
  
  .bnb-dash h1 {
    font-size: 1.5rem;
    font-weight: lighter;
  }
  
  .bnb-dash-container {
    margin: 1rem auto;
    border: 5px solid #2cc3c5;
    border-radius: 20px;
    padding: 2rem;
    width: 100%;
  }
  
  .bnb-dash-container .dash-head,
  .bnb-dash-container .dash-stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 10px;
  }
  
  .bnb-dash-container .dash-head h2 {
    font-size: 1.5rem;
  }
  

  .dash-form {
    margin-bottom: 2rem;
  }
  
  .dash-form input[type="text"] {
    width: 78%;
    height: 3rem;
    border-radius: 5px;
    padding: 0 10px;
  }
  
  .dash-form input[type="submit"] {
    width: 21%;
    height: 3rem;
    border-radius: 5px;
    background: linear-gradient(to right, #0c80be, #0aeef3);
  }


   @media(max-width: 500px) {
    body {
        height: 100vh;
        /* overflow: hidden;     */
    }

    #btn {
        display: none;
        pointer-events: none;
    }

    .lex-logo {
        display: block;
        margin: 20px auto;
    }

    .home-content {
        padding: 20px;
        
    }

    .home-content-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 20px 0;
        /* width: 100%; */
        /* overflow: hidden; */
    }

    .nav {
        height: 50px;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        /* margin-bottom: 700px; */
    }

    .nav ul li {
        margin: 10px 20px;
        /* margin-bottom: 70px; */
    }

    .nav ul li a {
        color: #fff;
        padding: 5px;
        border: 2px solid #fff; 
        border-radius: 15px;
    }

    .statistics {
        /* display: none; */
    }

    .statistics ul {
        display: flex;
        flex-direction: column;
    }

    .statistics .bar-thin {
        /* width: 10%; */
        display: none;
        /* margin: auto; */
    }

    .bnb-dash h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .dash-head h2 {
        margin: 10px 0;
    }

    .dash-stat p {
        margin: 10px 0;
    }

    .bnb-dash {
        width: 100%;
        margin: auto;
        margin-top: 0;
      }
      
      .bnb-dash h1 {
        font-size: 1.5rem;
        font-weight: bold;
      }
      
      .bnb-dash-container {
        margin: none;
        border: none;
        border-radius: none;
        padding: 2rem;
        width: 100%;
      }
      
      .bnb-dash-container .dash-head,
      .bnb-dash-container .dash-stat {
        display: block;
        flex-direction: row;
        justify-content: space-between;
        margin: none;
      }
      
      .bnb-dash-container .dash-head h2 {
        font-size: 1.5rem;
      }
}